.card-transparent {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur semi-transparente */
    backdrop-filter: blur(10px); /* Ajoute un effet de flou pour un aspect plus subtil */
    border-radius: 45px; /* Ajuste le style des bordures si nécessaire */
  }